* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body, html {
  height: 100%;
  background-color: white;
  overflow: hidden;
}

/* Layout container */
.dashboard-container {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}

@media (min-width: 768px) {
  .dashboard-container {
      flex-direction: row;
  }
}

/* Sidebar Styles */
.sidebar {
  width: 100%;
  background-color: navy;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media (min-width: 768px) {
  .sidebar {
      width: 250px;
  }
}

.sidebar h2 {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}

.greeting {
  color: white;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.sidebar-nav ul {
  list-style: none;
}

.sidebar-nav ul li {
  margin-bottom: 5px;
}

.sidebar-nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.1s;
}

.sidebar-nav ul li a:hover {
  background-color: white;
  color: black;
}

.material-icons {
  vertical-align: middle;
  margin-right: 10px;
}

/* Main Content */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
  overflow: hidden;
}

/* Header */
.top-header {
  display: flex;
  justify-content: flex-end;
  background-color: darkblue;
  padding: 15px;
  height: 60px;
  align-items: center;
  flex-shrink: 0;
}

.logout-btn {
  background-color: dodgerblue;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.1s;
}

.logout-btn:hover {
  background-color: mediumblue;
}

/* Dashboard Cards */
.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 1 card per row for small screens */
  gap: 20px;
  padding: 20px;
}

@media (min-width: 600px) {
  .dashboard-cards {
      grid-template-columns: repeat(2, 1fr); /* 2 cards per row for medium screens */
  }
}

@media (min-width: 1024px) {
  .dashboard-cards {
      grid-template-columns: repeat(3, 1fr); /* 3 cards per row for large screens */
  }
}

.card {
  background-color: dodgerblue;
  color: white;
  height: 120px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
}

.card h3 {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0;
  font-size: 14px;
}

.card .total-number {
  font-size: 24px;
  font-weight: bold;
  color: navy;
}
